.logo {
  text-align: center;
  margin: 5% 0;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
}

.business-form {
  background-color: #ffffff;
  color: #333333;
  max-width: 600px;
  width: 100%;
  border: 1px solid #dddddd;
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  align-self: center;
}

.form-group {
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-underline {
  background-color: #333333;
}

.form-control, .form-control-file {
  cursor: pointer;
  text-align: center;
  padding: 0;
}

.form-control:hover {
  color: #cc0000;
}

.submit-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.submit-btn:hover {
  background-color: #cc0000;
}

.ng-container {
  display: inline-block;
  vertical-align: top;
}

.grid-container {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.grid-container-history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.grid-item, .grid-item-history {
  justify-content: center;
  align-items: center;
}

.grid-container-history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.history-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.history-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

