.business-form {
  background-color: #ffffff;
  color: #333333;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  text-align: center;
}

.mat-green {
  color: white;
  background-color: forestgreen;
}

.logo {
  text-align: center;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%
}

.logo img {
  max-width: 100%;
  height: auto;
}

.title {
  color: #333333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  text-align: left;
  width: 300px;
}

.mat-form-field-appearance-fill .mat-form-field-underline {
  background-color: #333333;
}


.form-control, .form-control-file {
  color: #000000;
  cursor: pointer;
  text-align: center;
  padding: 0;
}

.form-control:hover {
  color:#cc0000;
}

.submit-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.form-control-file {
  height: 50px;
  border: none;
}

.submit-btn:hover {
  background-color: #cc0000;
}

.ng-container {
  display: inline-block;
  vertical-align: top;
}

.grid-container {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  height: fit-content;
}

.grid-item-left {
  justify-self: end;
}

.grid-item-right {
  justify-self: start;
  vertical-align: center;
  height: 100%;
}

mat-label {
  font-size: large;
  color: #333333;
}

.text-input {

}
