<div class="logo">
  <img src="assets/logo.svg" alt="Logo" width="500" height="53">
</div>

<mat-card class="business-form">
  <mat-card-header style="align-self: center; padding-bottom: 5%; font-size: larger">
    <mat-card-title>Hunter</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="grid-container">
        <div class="grid-item-left">
          <mat-form-field appearance="fill" class="form-group">
            <mat-label class="form-title">Select a property</mat-label>
            <input matInput type="text" formControlName="pr" [matAutocomplete]="propertyAutoComplete">
            <mat-autocomplete #propertyAutoComplete="matAutocomplete" (optionSelected)="onSelected($event)">
              <mat-option *ngFor="let key of formControlsKeys()" [value]="key">
                {{ key }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="grid-container">
        <ng-container *ngFor="let property of form.controls | keyvalue">
          <ng-container *ngIf="getProperty(property.key).active || property.key === 'builder.csvDataFile'">
            <div class="grid-item-left">
              <!-- Your first span content -->
              <mat-form-field appearance="fill" class="form-group">
                <mat-label>{{ property.key }}</mat-label>
                <div class="input-container">
                  <ng-container *ngIf="getProperty(property.key).value === 'true' || getProperty(property.key).value === 'false'; else textInput">
                    <mat-select (selectionChange)="toggleValue(property.key)" class="form-control" [value]="getProperty(property.key).value">
                      <mat-option value="false">False</mat-option>
                      <mat-option value="true">True</mat-option>
                    </mat-select>
                  </ng-container>
                  <ng-template #textInput>
                    <input matInput [value]="getControl(property.key).value.value" (input)="updatePropertyValue(property.key, $event)" class="form-control"/>
                  </ng-template>
                </div>
              </mat-form-field>
            </div>
            <div class="grid-item-right">
              <div>
                <button mat-icon-button type="button" (click)="reset(property.key)" class="form-control">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
              <div>
                <button *ngIf="property.key !== 'builder.csvDataFile'" mat-icon-button type="button" (click)="getProperty(property.key).active = false" class="form-control">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <button mat-raised-button color="primary" type="submit" class="form-control">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
